/*
  COLORS (since we aren't using SASS)
  - light-blue: #0DB4C5
  - dark-blue: #03717D
  - light-red: #F8744E
  - dark-red: #D93625
  - white: #F2F8F8
*/

body {
  background-color: #F2F8F8;
  color: #343434;
}

.container {
  max-width: 768px;
}

.top-navigation {
  background-color: #03717D;
  padding: 5px;
  margin-bottom: 10px;
}

.top-navigation ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

.top-navigation ul li {
  display: inline-block;
  padding: 5px 10px;
  color: #F2F8F8;
}

.top-navigation ul li a {
  text-decoration: none;
  color: #F2F8F8;
}

.nav-logout { cursor: pointer; }

.login .card {
  cursor: pointer;
}

.leaderboard .card, .dashboard .card {
  margin-bottom: 10px;
}

.leaderboard .card img, .dashboard .card img, .question-page .card img {
  margin-right: 20px;
}

.dashboard .btn-group {
  margin-bottom: 10px;
}